<h1>All Contacts</h1>

<div class ="wrap">
<ul>
<% @@rolodex.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %></li>
<% end %>
</ul>


</div>

<!-- do I need global moving forward?  could  i replace with % @@rolodex.contacts.each_with_index do |contact, index| %  vs @contacts-->