 <!DOCTYPE html>
<html lang="en">
<head><title>My Address Book</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
 <link rel="stylesheet" type="text/css" href="/css.css">
 <style>
 </style>
 </head> 
 <body>
  <header>
  <!--  <nav id="sitenav">
    <ul> 
      <li><a href="#">HOME</a></li>
      <li><a href="#">OTHER STUFF</a></li>
  </ul>
    </nav> -->
   <h3><%= @crm_app_name %></h3>
    
   
    </header>


<div class="aside">
	<ul><li><a href="#">View all contacts</a></li>
   <li><a href="#">Add a contact</a></li>
   <li><a href="#">Modify a contact</a></li>
   <li><a href="#">Delete a contact</a></li>
</ul></div>

<div class ="col1">
<img src ="btn_add.gif" width="307" height="222" alt="add">
<img src ="btn_edit.gif" width="307" height="222"alt="edit">
<img src ="btn_delete.gif" width="307" height="222"alt="delete">
<img src ="btn_make_note.gif" width="307" height="222"alt="note">
</div>




<footer> <p>2015</p></footer>
</body>
</html>
