 <!DOCTYPE html>
<html lang="en">
<head><title>My Address Book</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
 <link rel="stylesheet" type="text/css" href="/css.css">
 <style>
 </style>
 </head> 
 <body>
  <header>
      <!--  <nav id="sitenav">
                <ul> 
                  <li><a href="#">HOME</a></li>
                  <li><a href="#">OTHER STUFF</a></li>
                </ul>
            </nav> -->
       <h3><%= @crm_app_name %></h3>
       <h3><%= @time %>. This is the time.</h3>
        <!--do current time instead-->
    </header>

<div id ="wrap">W
    <div class="aside">
    	<ul>
        <li><a href="/contacts"><img src ="btn_rectangle.gif">View Contacts</a></li>
         <li><a href="/add_contact"><img src ="btn_rectangle.gif">Add</a></li>
         <li><a href="/edit_contact"><img src ="btn_rectangle.gif">Modify</a></li>
         <li><a href="/delete_contact"><img src ="btn_rectangle.gif">Delete a contact</a></li>
    </ul></div>




  <footer> 
    <p>2015</p>
  </footer>
</body>
</html>
