<h1>Welcome to <%= @crm_app_name %></h1>
<header><p>Current time: <%=Time.now.ctime%></p></header>
<div class ="col1">
<h1>Main menu</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius expedita iure modi totam sunt laborum placeat minus, sapiente aperiam magni fugit nemo obcaecati debitis earum quasi eaque amet nihil sit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil doloremque totam, nisi, illum consequatur autem natus, officia tempore error quibusdam aperiam, temporibus est amet molestiae aspernatur rem! Alias, cupiditate, temporibus!</p>
</div>
<div class="aside"><ul class="nav"> 
  <li><a href="/contacts">View all contacts</a></li>
   <li><a href="/contacts/new">Add a contact</a></li>
</ul></div>
<footer></footer>

