
<header><h1 class="fancypants">Greetings</h1>
</header>

<div class ="wrap">
<div class="aside">
<ul>	<li><a href="#">link1</a></li>
		<li><a href="#">link1</a></li>
		<li><a href="#">link1</a></li>
		<li><a href="#">link1</a></li>
</ul>
</div>

<div class ="col1">
<div class="img"></div>
<ul><%= @crm_app_name %><li><a href="/contacts">View all contacts</a></li>
   <li><a href="/contacts/new">Add a contact</a></li>
</ul></div>
</div>

<footer>footer</footer>


 








