<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/css.css">
<meta title="og:title" content="Bitmaker Labs HTML CSS intro">
	<meta charset="UTF-8">
	<style>add external css in public</style>
	<title>crm web</title>
</head>
<body>
	<%= yield %>
	<footer></footer>
</body>
</html>


