<!DOCTYPE html>
<html lang="en">
<head>
		<meta title="" content="Bitmaker Labs HTML CSS intro">
		<meta charset="UTF-8">
  		<meta name="description" content="">
  		<meta name="keywords" content="">
 		<link rel="stylesheet" type="text/css" href="/css.css">
<style></style>
		<title>crm web</title>
</head>
<body>  
<header>
      <!--  <nav id="sitenav">
                <ul> 
                  <li></li>
                  <li><a href="#">OTHER STUFF</a></li>
                </ul>
            </nav> -->
            <a class ="home" href="/">HOME</a>
       <h3><%= @crm_app_name %></h3>
    </header><div class="wrap">
	<%= yield %>
  </div>
  <footer> 
    <p>2015</p>
  </footer>
</body>
</html>
