<!DOCTYPE html>
<html lang="en">
<head>
		<meta title="" content="Bitmaker Labs HTML CSS intro">
		<meta charset="UTF-8">
  		<meta name="description" content="">
  		<meta name="keywords" content="">
 		<link rel="stylesheet" type="text/css" href="/css.css">
<style></style>
		<title>crm web</title>
</head>
<body>
      <a class ="home" href="/">temp link HOME</a>  
  <header>
       <h3><%= @crm_app_name %></h3>
  </header>
  <div class="wrap">
	   <%= yield %>
  </div>
  <footer> 
    <p>2015</p>
  </footer>
</body>
</html>
