 
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
}


html {   
}

body {    
            background: url(/bacc_grey_long.gif) repeat-y;
 }

header {
            background-image: url(/blackBlogo.gif);
            background-repeat: no-repeat;
            margin: 0;
            width:100%;
            height: 150px;
}

 #wrap { 
            display: inline; 
            clear: both; 
            width: 700px;
            padding-top:20px;
}

form {width: 100px; margin-left:35px; }
form input {margin-bottom: 20px;}

 .aside { 
            float: left; 
            margin: 100px 0 0 40px;
            width:800px;

}

  .col1 {
    float: left;
    margin-left: 20px;
    margin-top:20px;
    padding-top: 0;
    width: 660px; 
    }


footer {    
    clear:both; 
    padding-top:40px; 
    font-weight:900; 
    font-size: 12px; 
    font-color:#c60; 
    height: 100px;

}   

footer p {
    color: #ccc;
    font-weight:900; 
    font-size: 14px; 
    margin-left: 35px;
}





/* -------list madness -----------*/

ul {
    margin-left: 35px;
}
li {    
        list-style-type: none; 
}




#sitenav li {
    display: inline; font-size:10px;
}


/* -------fonts -----------*/


p, h1, h2, h3, p, ul, li {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   /* font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;*/
}


h1 {
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 700;

        margin: 1em 0 1em 35px;
        padding: 0 0 5px 0;
}

h1.viewheader {margin-top:35px;}


h3 { margin-top: 10px 0 0 750px; font-size: 90%; }


.current_time {
    font-family: Arial; 
    font-size: 11px;
}

header h3 {margin-left: 550px;}
/*
 h1.fancypants {
    color: #003; 
    text-decoration: none; 
    font-family: '3dumb', sans-serif; 
    font-size: 28px; 
    line-height:32px;
    padding-left: 10%; 
}
*/

a.home {text-align:right; text-decoration: none; font-size: 10px; font-family: Arial,sans-serif;}

.aside a, .aside a:hover {
    font-family: Arial,sans-serif;
    /*change to Century gothic look alike*/
    font-size: 60px;
    color: #8c8c99;
    font-weight:900;
    line-height: 86px;
    text-decoration: none;

}

.aside img {margin-right: 20px;}


